.nav-bar {
    display: flex;   
    flex-direction: row-reverse;
   }
  
   .nav-bar > * {
       margin-left: 15px;
   }
  
   .content {
       display: flex;
       flex-direction: column;
       align-items: center;
   }
  
   .content > * {
       margin-bottom: 20px;
   }
  
   .row {
       display: flex;
   }
  
   .row > button {
       margin-left: 15px;
   }
  
   .logo {
       margin-top: 200px;
   }