    .nav-bar {
        /* border: 1px solid red; */
        display: flex;
        flex-direction: row-reverse;
    }
    
    .nav-bar > * {
        margin-left: 15px;
    }
    .nav-bar > button{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: white;
        background-color: blue;
        margin-left: 8px;
        border: 1px solid;
        min-width: 95px;
    }

    .content {
        /* border: 1px solid blue; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .content > * {
        margin-bottom: 15px;
    }
    
    .row {
        /* border: 1px solid green; */
        display: flex;
    }
    
    .row > button {
        margin-left: 18px;
    }
    
    .logo {
        margin-top: 200px;
    }
.text-bar{
    height: 20px;
    font-size: 25px;
    border: transparent;
    }
    .row > button{
       font-family: Arial, Helvetica, sans-serif;
       font-size: 16px;
       border: transparent;
    }
.row{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}