.nav-bar {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row-reverse;
}

.nav-bar>* {
    margin-left: 15px;
}

.content {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content>* {
    margin-bottom: 20px;
}

.row {
    /* border: 1px solid green; */
    display: flex;
}

.row>button {
    margin-left: 15px;
}

.logo {
    margin-top: 200px;
}

div {
    display: block;
}

.button {
    background-color: #406bee;
    /* Green */
    border: 1px solid blue;
    color: white;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;

}

.button:hover {
    background-color: #1c6cd4;
}

.RNNXgb {
    display: flex;
    z-index: 3;
    height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: 638px;
    width: auto;
    max-width: 584px;
}

.CcAdNb {
    margin: auto;
}

.QCzoEc {
    margin-top: 3px;
    color: #9aa0a6;
    height: 20px;
    width: 20px;
}

.z1asCe {
    display: inline-block;
    fill: currentColor;
    height: 24px;
    line-height: 24px;
    position: relative;
    width: 24px;
}

.SDkEP {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 14px;
}

.iblpc {
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
}

.CcAdNb {
    margin: auto
}

.gLFyf {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, .87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;
    margin-top: -37px;
    height: 34px;
    font-size: 16px;
}

.minidiv .gLFyf {
    margin-top: -35px;
}

.a4bIc {
    display: flex;
    flex: 1;
    flex-wrap: wrap
}

.YacQv {
    color: transparent;
    flex: 100%;
    white-space: pre;
    height: 34px;
    font-size: 16px;
}

.YacQv span {
    background: url("/images/experiments/wavy-underline.png") repeat-x scroll 0 100% transparent;
    padding: 0 0 10px 0;
}

.dRYYxd {
    display: flex;
    flex: 0 0 auto;
    margin-top: -5px;
    align-items: stretch;
    flex-direction: row
}

.minidiv .dRYYxd {
    margin-top: 0
}

.BKRPef {
    flex: 1 0 auto;
    display: none;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0 8px;
    line-height: 44px
}

.M2vV3 {
    display: flex
}

.ExCKkf {
    height: 100%;
    color: #70757a;
    vertical-align: middle;
    outline: none
}

.minidiv .BKRPef {
    line-height: 32px
}

.minidiv .ExCKkf {
    width: 20px
}

.BKRPef {
    padding-right: 4px
}

.ExCKkf {
    margin-right: 12px
}

.ACRAdd {
    border-left: 1px solid #dadce0;
    height: 65%
}

.XDyW0e {
    flex: 1 0 auto;
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0 8px;
    width: 24px;
    line-height: 44px
}

.goxjub {
    height: 24px;
    width: 24px;
    vertical-align: middle
}

.minidiv .XDyW0e {
    line-height: 32px
}

.minidiv .goxjub {
    width: 20px;
    height: 20px
}

/*footer */
.uU7dJb {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: #70757a;
}

.ayzqOc:hover {
    text-decoration: underline
}

.cF4V5c {
    background-color: #fff
}

.cF4V5c g-menu-item {
    display: block;
    font-size: 14px;
    line-height: 23px;
    white-space: nowrap
}

.cF4V5c g-menu-item a,
.cF4V5c .y0fQ9c {
    display: block;
    padding-top: 4px;
    padding-bottom: 4px;
    cursor: pointer
}

.cF4V5c g-menu-item a,
.cF4V5c g-menu-item a:visited,
.cF4V5c g-menu-item a:hover {
    text-decoration: inherit;
    color: inherit
}

.EwsJzb {
    display: block
}

.rIbAWc {
    cursor: pointer;
    display: inline-block
}

.B8Kd8d {
    position: absolute
}

.sAKBe {
    border-radius: 8px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2)
}

.gLSAk {
    border: none;
    display: block;
    outline: none;
}

.rShyOb {
    white-space: nowrap
}

.gLSAk {
    border-radius: 8px
}

.gLSAk {
    padding: 5px 0
}

.ErsxPb {
    display: block;
    position: relative
}

.znKVS {
    padding: 0 16px;
    vertical-align: middle
}

.znKVS.tnhqA {
    padding: 0
}

.tnhqA>* {
    padding: 0 16px
}

.ohSfHb .znKVS {
    padding-left: 28px
}

.ErsxPb:hover {
    cursor: pointer
}

.ErsxPb,
.fbKdEb:hover {
    cursor: default
}

.dPaec,
g-menu-item[disabled] {
    pointer-events: none;
    cursor: default
}

.dPaec {
    border-top: 1px solid;
    height: 0;
    margin: 5px 0
}

.znKVS {
    line-height: 23px
}

.fbKdEb {
    background-image: url(//ssl.gstatic.com/ui/v1/menu/checkmark2.png);
    background-repeat: no-repeat;
    background-position: left center
}

.gvybPb,
.ErsxPb:active {
    background-color: rgba(0, 0, 0, 0.1)
}

.dPaec,
g-menu-item[disabled] {
    color: #cdcdcd !important
}

.dPaec {
    border-top-color: #ebebeb
}

.tFYjZe {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 4px;
    padding-top: 4px
}

.tFYjZe:hover .iOHNLb,
.tFYjZe:focus .iOHNLb {
    opacity: 1
}

.iOHNLb {
    color: #70757a;
    height: 20px;
    margin-top: -2px;
    opacity: 0;
    width: 20px
}

.KxwPGc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.SSwjIe {
    padding: 0 20px;
}

.pHiOh {
    display: block;
    padding: 15px;
    white-space: nowrap;
}

.pHiOh, a.pHiOh {
    color: #70757a;
}
